body {
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 1200px;
    margin-top: 24px;
}

.navbarEdits {
    justify-content: center;
}

.navbarEdits ul li {
    margin: 0px 20px;
}

a {
    text-decoration: none !important;
}


.nav-link {
    color: white;
}

.nav-link:hover {
    color: orange;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}